<!Doctype html>
<html>
<head>
    <title>NodeJS App Demo</title>
</head>
<body style="margin:0;font-family:Arial,Helvetica,sans-serif;">
    <div style="background:#f8f8f8;padding:40px 10px;display:flex;">
        <div style="position:relative;">    
            <h1>Welcome to NodeJS App Demo</h1>
            <div>
                <form>
                    <input name="Firstname" style="padding:6px;">
                    <input name="Lastname" style="padding:6px;">
                    <input type="button" value="Submit" style="padding:6px;">
                </form>
            </div>
        </div>
        <div style="position:absolute;right:8%;top:40px;">
            <span style="background:silver;padding:6px;cursor:pointer;border-radius:4px;">Login</span>
            <span style="background:silver;padding:6px;cursor:pointer;border-radius:4px;">Signup</span>
        </div>
    </div>
    <div style="background:linear-gradient(to bottom, #005aff 1%, #404040 200%);min-height:350px;position:relative;">
        <div style="width:max-content;text-align:center;font-size: 1.4rem;color:white;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
            <h3>Node JS App - Demo </h3>
            <h4>Developed by Abel Akponine</h4>
            <h5><i>#FullStackDeveloper</i></h5>
        </div>
    </div>
</body>
</html>